<nav class="ui inverted menu">
  <div class="left menu">
    <a id="home" class="item" href="/home"> Global Tweets</a>
    <a id="friendtweets" class="item" href="/friendtweets"> Tweets of friends</a>
    <a id="usersearch" class="item" href="/usersearch"> Search for users</a>
    <a id="mytimeline" class="item" href="/mytimeline"> My Timeline</a>
    <a id="tweet" class="item" href="/tweet">New Tweet!</a>
  </div>
  <div class="right menu">
    <a id="settings" class="item" href="/settings">Settings</a>
    <a id="logout" class="item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>