{{#if loggedIn}}
  {{> mainmenu  _id="home"}}
{{^}}
  {{> welcomemenu _id="home" }}
{{/if}}

<section class="ui stacked segment">
  <div class="ui grid">
    <h1 class="ui header sixteen wide column">Global Timeline</h1>

  </div>
</section>