{{#if loggedIn}}
  {{> mainmenu  _id="home"}}
{{^}}
  {{> welcomemenu _id="home" }}
{{/if}}

<article class="ui raised segment">

  <h1 class="ui header">Global Timeline</h1>

  {{> tweetlist }}

</article>
