{{#if loggedIn}}
  {{> mainmenu  _id="home"}}
{{^}}
  {{> welcomemenu _id="home" }}
{{/if}}

<section class="ui raised segment">

  <h1 class="ui header">Global Timeline</h1>

  <div class="ui  divider"></div>

  {{> tweetlist }}

</section>
