{{> mainmenu _id="tweet" }}

<section class="ui raised segment">

  <h1 class="ui header">Tweet your thoughts</h1>

  <div class="ui divider"></div>

  <section class="ui raised segment">
    <div class="ui grid">
      <div class="ui sixteen wide column fluid form">
        <div class="ui stacked segment">
          <form action="/tweet" method="POST">
            <div class="field">
              <label>Text</label>
              <textarea onkeyup="textCounter(this,140);" maxlength="140" placeholder="Text" type="text"
                        name="msg"></textarea>
              <input disabled maxlength="3" size="3" value="140" id="counter">
            </div>
            <button class="ui blue submit button">Send!</button>
          </form>
          {{> formerror }}
        </div>
      </div>
    </div>
  </section>

</section>

<script>
  function textCounter(field, maxlimit) {
    $('#counter').val(maxlimit - field.value.length);
  }
</script>